* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin-left: 24px;
  color: #bf7506;
  font-size: 16px;
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 870px;
  margin: auto;
}

.header {
  padding: 70px 0;
  display: flex;
  align-items: center;
}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.header-heading {
  font-size: 24px;
  line-height: 135%;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.social-logo {
  width: 24px;
}

.header-links {
  display: flex;
  align-items: center;
}

.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 16px;
  color: #211b12;
  text-decoration: none;
  border-bottom: 2px solid #bf7506;
}

.cv-icon {
  margin-right: 4px;
}

.section-heading {
  font-size: 48px;
}

.cards{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 32px;
}

.card {
  max-width: 400px;
  margin-bottom: 40px;
}

.card-text-wrapper {
  padding: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  color: #bf7506;
  margin-top: 0;
  margin-bottom: 8px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}

.tags {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  margin-top: 8px;
  margin-bottom: 16px;
}

.tag {
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-style: 14px;
  color: #211b12;
  text-decoration: none;
  border: 1px solid #dd9c3c;
  border-radius: 4px;
  margin-right: 4px;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.card-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #dd9c3c;
  margin-right: 25px;
}


.card-button-icon{
  margin-right: 4px;
}

.--active {
  font-weight: 700;
  color: #bf7506;
}
